body {
    background-color: #cac8c8;
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50; 
    color: white;
    margin: 0;
}

form {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    padding-left: 10px;
}

label, input[type="text"], input[type="submit"] {
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 20px auto;
}

p {
    padding: 20px;
    margin-bottom: 1px;
    border-radius: 4px;
    padding-left: 10px;
}

h2 {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    padding-left: 10px;   
}

li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
}
